.card-container {
  flex: 0 0 auto; /* Don't grow, don't shrink, and be based on its width */
  margin: 0 10px; /* Adjust margin for spacing between cards */
}

.card {
  width: 18rem; /* Fixed width for the cards */
}

body {
  font-family: 'Raleway', sans-serif;
}
